@font-face {
    font-family: 'Windows98';
    src: url('fonts/Windows\ Regular.ttf') format('truetype'); 
}

.WindowError {
    outline: solid;
    outline-width: 1px;
    border: outset;
    border-width: 3px;
    border-color: #e7e7e7;
    background-color: #d3d3d3;
    margin-top: 200px;
    width: 300px;
    height: 140px;
}

.WindowBar {
    display: flex;
    column-gap: 200px;
    background-image: linear-gradient(to right, #1111af, #0e79b2);
    width: 300px;
    height: 30px;
}

.Buttons {
    display: flex;
    column-gap: 20px;
    margin-left: 112px;
    
}

.die {
    display: flex;
}

.BarTitle {
    text-shadow: 0.5px 0px white, 1.5px 0px white; 
    color: transparent; 
    letter-spacing: 1px;
    margin-top: 4.5px;
    margin-left: 4.1px;
    
}

.CloseWindow {
    color: white;
    margin-top: 5.6px;
    margin-left: 0px;
}

.Skull {
    margin-top: 20px;
    margin-left: 30px;
}

.Info {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 20px;
    font-family: Windows98;
    font-size: 16px;
}

.WTF {
    color: black;
    border: 1px dotted transparent;
    border: solid;
    border-color: #ffffff #5a5a5a #5a5a5a #ffffff;
    background-color: #d3d3d3;
    font-family: Windows98;
}

.WTF:hover {
    color: black;
    border: 1px dotted black;
    border: solid;
    border-color: #ffffff #5a5a5a #5a5a5a #ffffff;
    background-color: #d3d3d3;
    font-family: Windows98;
}

.WTF:focus {
    color: black;
    border: 1px dotted black;
    border: solid;
    border-color: #5a5a5a #ffffff #ffffff #5a5a5a;
    background-color: #d3d3d3;
    font-family: Windows98;
}

.Ok { 
    color: black;
    border: 1px dotted transparent;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ffffff #5a5a5a #5a5a5a #ffffff;
    background-color: #d3d3d3;
    background-color: #d3d3d3;
    font-family: Windows98;
}

.Ok:hover { 
    color: black;
    border: 1px dotted black;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ffffff #5a5a5a #5a5a5a #ffffff;
    background-color: #d3d3d3;
    background-color: #d3d3d3;
    font-family: Windows98;
}

.Ok:focus { 
    color: black;
    border: 1px dotted black;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid;
    outline-width: 1px;
    border: solid;
    border-color: #5a5a5a #ffffff #ffffff #5a5a5a;
    background-color: #d3d3d3;
    font-family: Windows98;
}
